.DS_Store
node_modules
/build
/.svelte-kit
/package
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# !.env.example
# .env.*
# .env
# COMMENTED OUT since disallowing stripe public keys in git commit
