
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@100&display=swap'); */
/* nunito-200 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('./fonts/nunito-v25-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/nunito-v25-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/nunito-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/nunito-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* poppins-100 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('./fonts/poppins-v20-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/poppins-v20-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --anchor: rgb(253, 148, 148);
  --anchor_hover: rgb(249, 87, 87);
  --light: #f7f7f7;
  --light_darkened: rgb(224, 229, 232);
  --dark: rgb(20, 13, 33);
  /* --dark: rgb(37,27,47); */
  /* --dark: #1d3040; */
  --dark_lightened: rgb(38, 35, 51);
  /* --dark_lightened_med: rgb(39,35,53); */
  /* --dark_lightened: #263e53; */
  --ld-transition: background-color 0.3s

}



body {

  overscroll-behavior-y: none;
  
  background: var(--light);
	color: var(--dark);
  /* background: var(--dark);
  color: var(--light); */
	transition: var(--ld-transition);
  width:  100vw;
  height: 100vh;
  touch-action: manipulation;
  user-select:none;
}

body.dark-mode {
  background: var(--dark);
  color: var(--light);
  /* background: var(--light);
	color: var(--dark); */
}


 /* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none; 
  /* IE and Edge */
  scrollbar-width: none; 
  /* Firefox */
}

