/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* desktop: only works on chrome/brave */
body {
    overscroll-behavior-y: none;
    
    background-color: #f7f7f7;
		color: #1d3040;
		transition: background-color 0.3s
}

body.dark-mode {
  background-color: #1d3040;
  color: #f7f7f7;
}

body.noScroll{
  overflow-y: hidden;
}