/* Write your global styles here, in PostCSS syntax */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@100&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
  --anchor: rgb(253, 148, 148);
  --anchor_hover: rgb(249, 87, 87);
  --light: #f7f7f7;
  --light_darkened: rgb(224, 229, 232);
  --dark: rgb(20, 13, 33);
  /* --dark: rgb(37,27,47); */
  /* --dark: #1d3040; */
  --dark_lightened: rgb(38, 35, 51);
  /* --dark_lightened_med: rgb(39,35,53); */
  /* --dark_lightened: #263e53; */
  --ld-transition: background-color 0.3s

}



body {
  overscroll-behavior-y: none;
  
  background: var(--light);
	color: var(--dark);
	transition: var(--ld-transition);
  width:  100vw;
  height: 100vh;
  touch-action: manipulation;
  user-select:none;
}

body.dark-mode {
  background: var(--dark);
  color: var(--light);
}


 /* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none; 
  /* IE and Edge */
  scrollbar-width: none; 
  /* Firefox */
}

